asgiref
backports.entry-points-selectable 
bidict                           
cachelib                          
certifi                           
charset-normalizer                
click                             
distlib                           
Django                            
filelock                          
Flask                             
Flask-MySQLdb                     
Flask-Session                     
Flask-SocketIO                    
greenlet                          
gunicorn                          
idna                              
itsdangerous                      
Jinja2                            
MarkupSafe                        
mysql-connector-python            
mysqlclient                       
Pillow                            
pip                               
platformdirs                      
protobuf                          
psycopg2-binary                   
python-engineio                   
python-socketio                   
pytz                              
requests                          
setuptools                        
six                               
SQLAlchemy                        
sqlparse                          
urllib3                           
virtualenv                        
Werkzeug                          
