<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!DOCTYPE html>
<html>

<head>
	<title>Register | Moon Message</title>
	<!--Made with love by Mutiullah Samim -->
	{% with messages = get_flashed_messages() %}
	{% if messages %}

	{% for message in messages %}
	<div class="alert alert-danger" role="alert">
		{{ message }}
	</div>

	{% endfor %}

	{% endif %}
	{% endwith %}
	<!--Bootsrap 4 CDN-->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
		integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

	<!--Fontawesome CDN-->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
		integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

	<!--Custom styles-->
	<link rel="stylesheet" href="{{url_for('static', filename='register.css')}}">
</head>

<body>
	<div class="container">

		<div class="d-flex justify-content-center h-100">
			<div class="card">
				<div class="card-header">
					<h3>Registration</h3>

				</div>
				<div class="card-body">
					<form action="/register" method="POST">
						<div class="input-group form-group">
							<div class="input-group-prepend">
								<span class="input-group-text"><i class="fas fa-user"></i></span>
							</div>
							<input name="username" type="text" class="form-control" placeholder="username">

						</div>

						<div class="input-group form-group">
							<div class="input-group-prepend">
								<span class="input-group-text"><i class="fas fa-key"></i></span>
							</div>
							<input name="password" type="password" class="form-control" placeholder="password">
						</div>

						<div class="input-group form-group">
							<input name="fullname" type="text" class="form-control" placeholder="fullname">
						</div>

						<div class="input-group form-group">
							<input name="email" type="text" class="form-control" placeholder="email">
						</div>
						<label style="color:white;" for="">sex:</label>
						<select name="sex">
							<option value="M">M</option>
							<option value="F" selected>F</option>
						</select>

						<div style="margin:5px; width: 130px; height: 130px;" class="card">
							<div class="card-body">

								<div class="form-group">
									<center><img class="img-thumbnail" id="img-preview"></center>
									<progress id="img-upload-bar" value="0" max="100" style="width: 100%"></progress>
								</div>

							</div>
							</span>
						</div>
						<input style="margin:5px; font-size: small; width: 150px;" type="file" class="form-control-file"
							id="img-uploader">

						<div class="input-group form-group">
							<input id="photo" name="image" type="text" class="form-control" placeholder="image url">
						</div>

						<div class="form-group">
							<input type="submit" value="Register" class="btn float-right login_btn"
								style="width:100%; margin-top: 5px;">
						</div>
					</form>
				</div>

			</div>
		</div>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
	<script src="/static/js/photo.js"></script>
</body>

</html>